**Домашнее задание №4. Выполнила: Ульяна Еськина (@import_brain_as_br)**

Alzheimer's Disease Dataset — https://www.kaggle.com/datasets/rabieelkharoua/alzheimers-disease-dataset

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('alzheimers_disease_data.csv')
df.head()

,PatientID,Age,Gender,Ethnicity,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,DietQuality,...,MemoryComplaints,BehavioralProblems,ADL,Confusion,Disorientation,PersonalityChanges,DifficultyCompletingTasks,Forgetfulness,Diagnosis,DoctorInCharge
0,4751,73,0,0,2,22.927749,0,13.297218,6.327112,1.347214,...,0,0,1.725883,0,0,0,1,0,0,XXXConfid
1,4752,89,0,0,0,26.827681,0,4.542524,7.619885,0.518767,...,0,0,2.592424,0,0,0,0,1,0,XXXConfid
2,4753,73,0,3,1,17.795882,0,19.555085,7.844988,1.826335,...,0,0,7.119548,0,1,0,1,0,0,XXXConfid
3,4754,74,1,0,1,33.800817,1,12.209266,8.428001,7.435604,...,0,1,6.481226,0,0,0,0,0,0,XXXConfid
4,4755,89,0,0,0,20.716974,0,18.454356,6.310461,0.795498,...,0,0,0.014691,0,0,1,1,0,0,XXXConfid

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2149 entries, 0 to 2148
Data columns (total 35 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PatientID                  2149 non-null   int64
 1   Age                        2149 non-null   int64
 2   Gender                     2149 non-null   int64
 3   Ethnicity                  2149 non-null   int64
 4   EducationLevel             2149 non-null   int64
 5   BMI                        2149 non-null   float64
 6   Smoking                    2149 non-null   int64
 7   AlcoholConsumption         2149 non-null   float64
 8   PhysicalActivity           2149 non-null   float64
 9   DietQuality                2149 non-null   float64
 10  SleepQuality               2149 non-null   float64
 11  FamilyHistoryAlzheimers    2149 non-null   int64
 12  CardiovascularDisease      2149 non-null   int64
 13  Diabetes                   2149 non-null   int64
 14  Depression                 2149 non-null   int64
 15  HeadInjury                 2149 non-null   int64
 16  Hypertension               2149 non-null   int64
 17  SystolicBP                 2149 non-null   int64
 18  DiastolicBP                2149 non-null   int64
 19  CholesterolTotal           2149 non-null   float64
 20  CholesterolLDL             2149 non-null   float64
 21  CholesterolHDL             2149 non-null   float64
 22  CholesterolTriglycerides   2149 non-null   float64
 23  MMSE                       2149 non-null   float64
 24  FunctionalAssessment       2149 non-null   float64
 25  MemoryComplaints           2149 non-null   int64
 26  BehavioralProblems         2149 non-null   int64
 27  ADL                        2149 non-null   float64
 28  Confusion                  2149 non-null   int64
 29  Disorientation             2149 non-null   int64
 30  PersonalityChanges         2149 non-null   int64
 31  DifficultyCompletingTasks  2149 non-null   int64
 32  Forgetfulness              2149 non-null   int64
 33  Diagnosis                  2149 non-null   int64
 34  DoctorInCharge             2149 non-null   object
dtypes: float64(12), int64(22), object(1)
memory usage: 587.7+ KB

In [5]:
# Средний возраст участников и доля заболевших на момент исследования:

df[['Age', 'Diagnosis']].mean()

Age          74.908795
Diagnosis     0.353653
dtype: float64

In [6]:
# Средний уровень образования заболевших (на момент исследования):

d1 = df.query('Diagnosis == 1')
d1['EducationLevel'].mean()

1.2328947368421053

In [7]:
# Средний уровень образования НЕ заболевших (на момент исследования):

d0 = df.query('Diagnosis == 0')
d0['EducationLevel'].mean()

1.3160547156227502

In [8]:
# Распределение по уровню образования (0: None, 1: High School, 2: Bachelor's, 3: Higher):

ed_level = df.groupby(['EducationLevel', 'Diagnosis']).agg({'EducationLevel': 'count'})
ed_level = ed_level.rename(columns={'EducationLevel': 'Count'})
ed_level

                          Count
EducationLevel Diagnosis
0              0            272
               1            174
1              0            552
               1            302
2              0            419
               1            217
3              0            146
               1             67

In [9]:
# Доля заболевших, по уровням образования:

ed_levels_count = 4
for e in range(ed_levels_count):
    print(f'Education level {e}: {ed_level['Count'][e][1] / (ed_level['Count'][e][0] + ed_level['Count'][e][1])}')

Education level 0: 0.3901345291479821
Education level 1: 0.35362997658079626
Education level 2: 0.3411949685534591
Education level 3: 0.3145539906103286